<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>신선 돼지 유통 관리 시스템</title>
</head>

<body>
  <form method="post">
    <h2>운송 시작 정보</h2><br>
    <div>
      <label for="id">사원번호&nbsp;</label>
      <input type="text" name="manager_id" value="" disabled>
    </div><br><br>
    <div>
      <button type="submit" name="button" value="delivery_confirm">배송시작</button>
      <button type="submit" name="button" value="delivery_cancel">취소</button>
    </div>
  </form>
</body>
