<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>신선 돼지 유통 관리 시스템</title>
</head>

<body>
  <form method="post">
    <h2>주문서 확인 (배정알림)</h2><br>
    <div>
      <label for="ordered_date">주문 일자&nbsp;</label>
      <input type="text" name="ordered_date" value="<%=stat_date%>" disabled><br><br>
      <label for="ordered_address" style="vertical-align:top">배송지&nbsp;</label>
      <textarea name="ordered_address" style="resize:none" cols="50" rows="2" disabled><%=stat_adr%></textarea><br><br>
      <label for="set_driver">운전 기사&nbsp;</label>
      <input type="text" name="set_driver" value="<%=stat_driver%>" disabled><br><br>
      <label for="ordered_pork">고기 종류&nbsp;</label>
      <input type="text" name="ordered_pork" value="<%=stat_pork%>" disabled>
    </div><br><br>
    <div>
      <button type="submit" name="button" value="order_check">확인</button>
    </div>
  </form>
</body>
