<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>신선 돼지 유통 관리 시스템</title>
</head>

<body>
  <form method="post">
    <h2>운전 기사 관리 시스템</h2><br>
    <div>
      <label for="id">사원번호&nbsp;</label>
      <input type="text" name="driver_id" value="<%=driver_info%>" disabled>
    </div><br><br>
    <div>
      <button type="submit" name="button" value="delivery_noti">배정알림</button>
      <button type="submit" name="button" value="delivery_start">운송시작</button><br><br>
      <button type="submit" name="button" value="delivery_done">현재위치 확인 / 운송완료</button><br><br>
      <button type="submit" name="button" value="delivery_back">회사복귀</button><br><br><br>
      <button type="submit" name="button" value="delivery_logout">로그아웃</button>
    </div>
  </form>
</body>
