<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>신선 돼지 유통 관리 시스템</title>
</head>

<body>
  <form method="post">
    <h2> 신선 돼지 유통 관리 시스템</h2><br>
    <div>
      <label for="id">사원번호&nbsp;</label>
      <input type="text" name="login_id" value="">
      <br><br>
      <label for="pwd">비밀번호&nbsp;</label>
      <input type="password" name="login_passwd" value="">
    </div><br><br>
    <div>
      <button type="submit" name="button" value="sign_in">로그인</button>
      <button type="submit" name="button" value="sign_on">회원가입</button>
    </div>
  </form>
</body>
