<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>신선 돼지 유통 관리 시스템</title>
</head>

<body>
  <form method="post">
    <h2>운송 관리자 시스템</h2><br>
    <div>
      <label for="id">사원번호&nbsp;</label>
      <input type="text" name="manager_id" value="" disabled>
    </div><br><br>
    <div>
      <button type="submit" name="button" value="order_form_cr">주문서 등록</button><br><br>
      <button type="submit" name="button" value="order_form_back">로그아웃</button>
    </div>
  </form>
</body>
